/* header  */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.headerTitle {
  color: whitesmoke;
}

.btns>button {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #747EAA;
  color: #F1B103;
  cursor: pointer;
}

.btns>select {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #747EAA;
  color: white;
  cursor: pointer;
}

/* videos and users  */
.usersVideo {
  width: 78%;
  height: 78vh;
  margin: 0px auto;
}

.comp1 {
  width: 100%;
  height: 100%;
}

.comp1>img {
  width: 100%;
  height: 100%;
}

.comp2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  gap: 1%;
}

.comp2>img {
  width: 100%;
  height: 100%;
}

.comp3 {
  width: 100%;
  height: 99%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-template-rows: 48% 48%;
  gap: 1%;
}
.img1{
  height: 100%;
  grid-row: 1 / span 2;
}
.comp3>img {
  width: 100%;
}


.comp4 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-template-rows: 48% 48%;
  gap: 1%;
}

.comp4>img {
  width: 100%;
}
/* footer  */
.footer {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerleft {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #747EAA;
  border-radius: 10px;
}

.btn {
  height: 50px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border-right: 2px solid #747EAA;
  cursor: pointer;
}

.button1 {
  height: 80%;
}

.footerleft>img {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  display: inline-block;
  background-color: #DC354B;
  border: 2px solid #FFFFFF;
  padding: 5px;
  border-radius: 50%;
}

.btn1 {
  height: 50px;
  color: aliceblue;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-right: 2px solid #747EAA;
  cursor: pointer;
}

.button5 {
  border: 0px;
}

.endBtn {
  height: 50px;
  width: 90px;
  margin-right: 20px;
  background-color: #DC354B;
  border-radius: 7px;
  color: #FFFFFF;
}

.footerright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/* only one user */